# History files
*/.Rhistory
*/.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
*/.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# large data set
*/household_power_consumption.txt